<div class="center">
  <h1><%= @event.name %><%= request.remote_ip %></h1>
  <hr/>
</div>

<% @topposts.each do |toppost| %>
    <div class='jumbotron'>
      <div class='col-md-1' style= 'margin-left: -60px; margin-top: -9px;'>
        <div class="center">
          <i class="fa fa-arrow-up"></i>
        </div>
        <div class="center">
          <%= toppost.score %>
        </div>
        <div class="center">
          <i class="fa fa-arrow-down"></i>
        </div>
      </div>
      <div style='margin: 10px;'>
      <%= toppost.comment %>
      </div>
    </div>
<% end %>

<hr/>

<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, class: 'form-control', placeholder: "Compose new post..." %>
  </div>
  <%= f.hidden_field :event_id, value: @event.id %>
  <% if signed_in? && current_user.id == @event.user_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<hr/>

<% @posts.each do |post| %>
    <div class='well'>
      <div class='col-md-1' style= 'margin-left: -32px'>
        <div class="center">
          <i class="fa fa-arrow-up"></i>
        </div>
        <div class="center">
          <%= post.score %>
        </div>
        <div class="center">
          <i class="fa fa-arrow-down"></i>
        </div>
      </div>
      <div style='margin: 19px;'>
      <%= post.comment %>
      </div>
    </div>
<% end %>
