<div class="center">
  <h1><%= @event.name %><%= request.location %></h1>
  <hr/>
</div>

<% @topposts.each do |toppost| %>
    <div class='jumbotron'>
      <div class='col-md-1' style= 'margin-left: -60px; margin-top: -9px;'>
        <div class="center">
          <i class="fa fa-arrow-up"></i>
        </div>
        <div class="center">
          <%= toppost.score %>
        </div>
        <div class="center">
          <i class="fa fa-arrow-down"></i>
        </div>
      </div>
      <div style='margin: 10px;'>
      <%= toppost.comment %>
      </div>
    </div>
<% end %>

<hr/>

<% @posts.each do |post| %>
    <div class='well'>
      <div class='col-md-1' style= 'margin-left: -32px'>
        <div class="center">
          <i class="fa fa-arrow-up"></i>
        </div>
        <div class="center">
          <%= post.score %>
        </div>
        <div class="center">
          <i class="fa fa-arrow-down"></i>
        </div>
      </div>
      <div style='margin: 19px;'>
      <%= post.comment %>
      </div>
    </div>
<% end %>
