<div class="center">
  <h1><%= @event.name %></h1>
  <hr/>
</div>

<% @topposts.each do |toppost| %>
    <div class='well'>
      <div class='col-md-1'>
        <div>
          <i class="fa fa-arrow-up"></i>
        </div>
        <div>
          <%= toppost.score %>
        </div>
        <div>
          <i class="fa fa-arrow-down"></i>
        </div>
      </div>
      <div style='margin: 10px;'>
      <%= toppost.comment %>
      </div>
    </div>
<% end %>

<hr/>

<% @posts.each do |post| %>
    <div class='well'>
      <div class='col-md-1'>
        <div>
          <i class="fa fa-arrow-up"></i>
        </div>
        <div>
          <%= post.score %>
        </div>
        <div>
          <i class="fa fa-arrow-down"></i>
        </div>
      </div>
      <div style='margin: 10px;'>
      <%= post.comment %>
      </div>
    </div>
<% end %>
